{% extends 'main/content.html' %}



{% block main-content %}


<div class="container">
<div class="card mb-3 mt-3" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img class="img-fluid img-thumbnail" src="{{cast.profile_pic.url}}" alt="{{cast.first_name}}" style="height: 100%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th class="card-title" colspan="2" scope="col">{{cast.first_name}} {{cast.last_name}} <a class="btn btn-sm btn-primary ml-3" href="{% url 'movies:like' 'cast' cast.id %}"><i class="fas fa-thumbs-up"></i><span class="ml-1">Like</span></a></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="card-title" scope="row">Age</th>
              <td class="card-text">{{cast.age}}</td>
            </tr>
            <tr>
              <th class="card-title" scope="row">Nationality</th>
              <td class="card-text">{{cast.nationality}}</td>
            </tr>
            <tr>
              <th class="card-title" scope="row">Likes</th>
              <td class="card-text">{{cast.likes}}</td>
            </tr>
            <tr>
              <th class="card-title" scope="row">Known For</th>
              <td class="card-text">{{cast.known_for}}</td>
            </tr>
            <tr>
              <th class="card-title" scope="row">SSN</th>
              <td class="card-text">{{cast.ssn}}</td>
            </tr>
            <tr>
              <th class="card-title" scope="row">Movies</th>
              <td class="card-text">
                {% for p in movies %}
                <a href="{% url 'movies:movie-details' p.id %}">{{p.title}}</a>
                {%endfor%}
              </td>
            </tr>
            <tr>
              <th class="card-title" colspan="2" scope="row">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a class="btn btn-primary btn-sm" href="{% url 'movies:cast-list'%}">Cast List</a>
                  <a class="btn btn-warning btn-sm" href="{% url 'movies:update-cast' cast.id %}">Edit</a>
                  <a class="btn btn-danger btn-sm" href="{% url 'movies:delete-cast' cast.id %}">Delete</a>
              </div>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="d-flex justify-content-center row">
      <div class="col-md-8">
          <div class="d-flex flex-column comment-section">
              {% for comment in cast.cast_comment_set.all %}
              <div class="border p-2 bg-light">
              <div class="bg-light p-2 rounded">
                  <div class="d-flex flex-row user-info">
                    <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                      <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{comment.user.username}}</span><span class="date text-black-50">{{comment.date}}</span></div>
                  </div>
                  <div class="mt-2">
                      <p class="comment-text">{{comment.text}}</p>
                  </div>
              </div>
              <div class="bg-white">
                  <div class="bg-light d-flex flex-row fs-12">
                      <a class="ml-1" href="{% url 'movies:comment-delete' comment.cast.id comment.id 'cast' %}" style="color: rgba(0, 0, 0, 0.795); text-decoration: none;"><i class="far fa-thumbs-up"></i><span class="ml-1">Like</span></a>
                      <a class="ml-1" href="{% url 'movies:comment-delete' comment.cast.id comment.id 'cast' %}" style="color: rgba(0, 0, 0, 0.795); text-decoration: none;"><i class="far fa-trash-alt"></i><span class="ml-1">Delete</span></a>
                      
                  </div>
              </div>
              </div>
              {%endfor%}
              <div class="bg-light p-2 mt-3">
                <form action="{% url 'movies:cast-details' cast.id %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea" name="text"></textarea></div>
                 <div class="mt-2 text-right">
                  <input class="btn btn-outline-primary btn-sm mr-1 shadow-none" type="file" name="attachment">
                  <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>
                </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<!-- <div class="container">
    <table class="table table-striped" style="text-align: center;">
  <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Relased</th>
        <th scope="col">Watched</th>
        <th scope="col">Likes</th>
        <th scope="col">Plot</th>
        <th scope="col">Rated</th>
        <th scope="col">Action</th>
      

    </tr>
  </thead>
  <tbody>
    
    
    <tr>
        <th scope="row">{{cast.title | truncatewords:6}}</th>
        <td>{{cast.relased}}</td>
        <td>{{cast.watch_count}}</td>
        <td>{{cast.likes | truncatewords:3}}</td>
        <td>{{cast.plot | truncatewords:3}}</td>
        <td>{{cast.rated}}</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-primary btn-sm" href="{% url 'movies:movies-list'%}">Movies List</a>
                <a class="btn btn-warning btn-sm" href="{% url 'movies:update-movie' cast.id %}">Edit</a>
                <a class="btn btn-danger btn-sm" href="{% url 'movies:delete-movie' cast.id %}">Delete</a>
            </div>
        </td>
    </tr>

  </tbody>
</table>
</div> -->


{%endblock%}


