{% extends 'main/content.html' %}

{% block main-content %}

<div class="container">
    <table class="table table-striped" style="text-align: center;">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Year</th>
      <th scope="col">Runtime</th>
      <th scope="col">Actors</th>
      <th scope="col">Plot</th>
      <th scope="col">Rating</th>
      <th scope="col">Action</th>
      

    </tr>
  </thead>
  <tbody>
    
    
    <tr  {% if imdbRating > '7' %} style="color:red;" {%else%} style="color:black;" {%endif%} >
        <th scope="row">{{Title | truncatewords:6}}</th>
        <td>{{Year}}</td>
        <td>{{Runtime}}</td>
        <td>{{Actors | truncatewords:2}}</td>
        <td>{{Plot | truncatewords:2}}</td>
        <td>{{imdbRating}}</td>
        <td>
          <div class="btn-group">
            <a class="btn btn-primary btn-sm" href="{% url 'todo:to-watch-update' imdbID %}">Watched</a>
            <a class="btn btn-secondary btn-sm" href="{% url 'todo:to-watch-list'%}">List</a>
            <a class="btn btn-danger btn-sm" href="{% url 'todo:to-watch-delete' imdbID %}">Delete</a>
            </div>
        </td>
    </tr>

  </tbody>
</table>
</div>


{%endblock%}